
@using eManager.WebModels;
@model ClientViewModel

@{
    ViewBag.Title = "Update client details";
    Layout = "_Layout";

}


<div class="modal fade" id="editClientInfoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Update details for @Model.Name</h4>
            </div>

            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" asp-controller="Client" asp-action="UpdateClientInfo">
                    @Html.HiddenFor(model => model.ClientId)
                    <label for="Name">Name:</label>
                    @Html.TextBox("Name", null, new { @class = "form-control" })<br />
                    <label for="Description">Description:</label>
                    @Html.TextBox("Description", null, new { @class = "form-control" })<br />
                    <label for="Address">Address:</label>
                    @Html.TextBox("Address", null, new { @class = "form-control" })<br />
                    <label for="Email">Email:</label>
                    @Html.TextBox("Email", null, new { @class = "form-control" })<br />
                    <label for="Phone">Phone:</label>
                    @Html.TextBox("Phone", null, new { @class = "form-control" })<br />
                    <label for="TaxNumber">Company Tax Number:</label>
                    @Html.TextBox("TaxNumber", null, new { @class = "form-control" })<br />
                    <label for="BankAccount">Bank account:</label>
                    @Html.TextBox("BankAccount", null, new { @class = "form-control" })<br />
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBox("LogoImage", null, new { @class = "form-control" })<br />
                            <p>Upload Logo image File</p>
                            <input id="LogoImage" name="LogoImage" type="hidden" />
                            <input id="uploadLogoImage" type="file" name="LogoImage" />

                        </div>
                    </div>
                    <div class="form-group">
                        <span>@ViewBag.Message</span>

                    </div>

                    <button type="submit" class="btn btn-success">Save Changes</button>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("ShowClients", "Client")'">Close</button>
            </div>
        </div>
    </div>
</div>



<script>


    $(function () {
        $("#editClientInfoModal").modal();
    });




</script>